#########################################################
//                        QA ENV URL       
###########################################################
BASE_URL=https://www.saucedemo.com

########################################################
//                QA Credentials
##########################################################

VALID_USER=
VALID_PWD=